
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetController</servlet-name>
  	<servlet-class>com.web.GetController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<servlet-class>com.web.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetController</servlet-name>
  	<url-pattern>/GetUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  
</web-app>
